@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

html {
  font-size: 100%;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}