nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem 2rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.single-nav-link {
    font-size: 0.85rem;
    color: black;
    text-decoration: none;
}

.nav-btn {
    background-color: hsl(12, 88%, 59%);
    color: white;
    font-size: 0.85rem;
    padding: 0.6rem 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}