nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.single-nav-link {
    color: black;
    text-decoration: none;
}